%table
  %tr
    %th
      Sender
    %th
      Receiver
    %th
      Subject
    %th
      Acual body
    %th
      Actions

  - @emails.each do |email|
    %tr
      %td
        = email.sender
      %td
        = email.receiver
      %td
        = email.subject
      %td
        = email.actual_body
      %td
        %a{href: download_pdf_email_path(email)}
          Download as pdf
